*{margin:0;padding:0}
a{text-decoration:none;}
ul{list-style:none;}
img{border:none;vertical-align:top;}
body{text-align:center}
.container{font-family:"Microsoft YaHei";position:relative;min-width:1000px;max-width:100%}
.header{width:100%;height:80px;background:#3a5a96;color:#fff}
.headleft{height:80px;float:left}
.logo1{width:420px;height:50px;display:inline-block;background:url(../images/logo.png) no-repeat center center;float:left;margin-top:15px;margin-left:-114px}
.sep{width:5px;height:53px;display:inline-block;background:url(../images/sep.jpg) no-repeat center center;float:left;padding-top:20px}
.logo2{width:54px;height:48px;display:inline-block;background:url(../images/yuxiang.jpg) no-repeat center center;float:left;padding-top:20px;margin-left:10px}
.title{font-size:30px;color:#fff;text-align:left;padding-top:18px;float:left;margin-left:30px;font-family:"microsoft yahei"}

.headright{
height: 80px;
line-height: 80px;
float: right;
margin-right: 20px;}
.user{font-family:"Microsoft YaHei";font-size:14px;float:left}
.shezhi{width:24px;height:24px;display:inline-block;float:left;margin-left:20px;padding-top:6px}
.content{background:#f9fbff}
.nav{width:200px;background:#3A63B1;float:left}
.time{width:200px;height:36px;display:block;line-height:36px;color:#fff;font-size:14px;font-family:Arial;background:#4D77C7}
.nav ul{list-style-type:none;margin-top:25px}
.nav ul li{width:200px;height:50px;line-height:50px;font-size:16px;text-align:left}
.nav ul li a{display:block;font-size:18px;color:#c1d2e7;text-decoration:none;padding:0 5px 0 15px}
.nav ul li a img{float:left;vertical-align:middle;margin-top:13px}
.nav ul li a span{color:#FFF;float:left;margin-left:10px}
.nav_icon{width:24px;height:50px;display:inline-block;float:left;background:url(../images/index_img.png) no-repeat left center}
.ment{color:#fff;background:#3a84c5 url(../images/xiala.jpg) no-repeat 163px center}
.nav ul .li_1_bottom{background-color:#395FA7}
.nav ul .li_1_bottom p{line-height:40px;height:30px;text-align:left}
.nav ul .li_1_bottom p:last-child{line-height:40px;height:30px;text-align:left;padding-bottom:20px}
.nav ul .li_1_bottom p a{background:0 0;padding-left:50px;font-size:16px;cursor:pointer;text-decoration:none;color:#FFF}
.nav ul .li_1_bottom p a input[type=radio]{margin-right:13px}
.select_icon{width:6px;height:51px;display:inline-block;background:url(../images/you.png) no-repeat right center;margin-left:47px}
.hide{display:none}
.show{display:block}
.con_right{padding:20px;margin-left:200px;overflow:hidden}
.nav_ss{width:7px;height:7px;display:inline-block;margin-right:10px;border-radius:50%;border:1px solid #fff;box-sizing:border-box;margin-right:10px}
.nav_ss.on{background-color:#fff}
.nav_aa{background:url(../images/nav_aa.png) no-repeat left center;color:#3a84c5}
.banner{width:100%;left:0;top:80px;bottom:0;background:url(../images/banner.jpg) no-repeat;background-size:100% auto;position:absolute;overflow:hidden}
.banner_right{width:340px;height:380px;background:#fff;position:absolute;top:50px;right:80px;padding:30px}
.banner_right h3{color:#333;font-size:20px;float:left}
.banner_right .forget{color:#ff8560;font-size:12px;float:right;text-decoration:none;margin-top:8px}
.clearfix:after{clear:both;content:"";display:block}
.clearfix{zoom:1}
.user_form{width:320px;height:130px;border:1px solid #b2b2b2;margin-top:15px;margin-bottom:15px;padding-left:10px;padding-right:10px}
.username{width:320px;height:65px}
.border{border-bottom:1px solid #d9d9d9}
.txt{width:320px;height:65px;line-height:65px;border:none;text-indent:28px;outline:0;color:#999;font-size:14px}
.icon1{background:url(../images/icon.png) no-repeat;background-position:-18px -5px}
.icon2{background:url(../images/icon.png) no-repeat;background-position:-18px -80px}
.check{width:165px;height:50px;line-height:50px;border:1px solid #b2b2b2;float:left}
.pic img{vertical-align:middle}
.little_text{text-align:left;color:#999;font-size:12px}
.little_text a{color:#999;font-size:12px;text-decoration:underline}
.btn{width:340px;height:48px;background:#f68189;color:#fff;font-size:18px;border:none;margin-top:50px;outline:0}
.btn:hover{background:#f7656f}
.banner_center{background:#fff;position:absolute;top:50%;left:50%;font-family:"Microsoft YaHei"}
.head_title{height:50px;background:#498cc6;line-height:50px}
.head_title p{color:#fff;font-size:20px;text-align:left;margin-left:20px}
.head_main{width:355px;height:290px;margin:0 auto;margin-top:30px;font-size:14px;color:#333}
.boxbar{width:355px;height:30px;margin-bottom:15px;line-height:30px}
.key_title{width:100px;height:30px;float:left;text-align:right}
.textbox{width:200px;height:30px;border:1px solid #d2d2d2;float:left;outline:0;text-indent:5px}
.huoqu{width:110px;height:30px;background:#7ed1a5;border:none;position:absolute;right:20px;color:#fff;font-size:12px;border-radius:2px}
.add{text-align:center;margin-left:-10px;margin-top:-10px;margin-bottom:15px}
.btns{width:120px;height:40px;color:#fff;font-size:16px;border:none;margin-top:10px;outline:0;border-radius:3px;font-family:"Microsoft YaHei"}
.red{background:#f68189}
.gray{background:#b6bdc5;float:right}
.gray:hover{background:#a6aeb7}
.color{color:#ff8560}
.relative{position:relative}
.fl{float:left}
/* 通用标题与订单号展示*/
.header_title{position:relative;color:#333;text-indent:20px;font-size:16px;background-color:#f6f9fe;height:40px;line-height:40px;text-align:left;}
.header_title span{font-weight:400}
.header_title i{font-style:normal}
.header_title .remarks_information{color:#666}
.order_title{text-align:left;height:40px;font-size:16px;padding-left:20px;line-height:40px;background-color:#d3d7dc;color:#8693a3}
.order_title span{margin-right:20px;color:#fff}
