<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>jQuery UI Demos</title>
</head>
<body>

<table width="100%" border="0">
  <tr>
    <td width=140px align=left valign=top style="BORDER-RIGHT: #999999 1px dashed"><ol>
	<li><a href="basic.html" target="testIframeN">basic</a></li>
	<li><a href="fluid.html" target="testIframeN">fluid</a></li>
	<li><a href="addremove.html" target="testIframeN">addremove</a></li>
	<li><a href="autoheight.html" target="testIframeN">autoheight</a></li>
	<li><a href="collapsetitle.html" target="testIframeN">collapsetitle</a></li>
	<li><a href="complex.html" target="testIframeN">complex</a></li>
	<li><a href="customcollapsetitle.html" target="testIframeN">customcollapsetitle</a></li>
	<li><a href="full.html" target="testIframeN">full</a></li>
	<li><a href="nestedlayout.html" target="testIframeN">nestedlayout</a></li>
	<li><a href="nocollapsible.html" target="testIframeN">nocollapsible</a></li>
</ol>
</td>
    <td align=left valign=top><IFRAME ID="testIframeN" Name="testIframeN" FRAMEBORDER=0 SCROLLING=AUTO width=100%  height=550px SRC="basic.html"></IFRAME></td>
  </tr>
</table>

</body>
</html>
