<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<jmxConfigurator />

    <!-- include logback template from spring boot.jar -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="UTF-8">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{80} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>C:\\logs\\auth.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/auth.log.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{80} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="aopLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>C:\\logs\\auth_aop_log.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/auth_aop_log.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}-%-5level - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- project default level -->
	<logger name="com.auth" level="INFO" />

	<!-- root -->
	<root level="WARN">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
	</root>

	<!-- 下面配置一些第三方包的日志过滤级别，用于避免刷屏 -->
	<logger name="org.hibernate" level="INFO" />
	<logger name="org.mybatis" level="INFO" />
	<logger name="org.springframework" level="INFO" />
	<logger name="com.opensymphony" level="WARN" />
	<logger name="org.apache" level="INFO" />
	<logger name="org.jasig.cas" level="ERROR" />
	<logger name="java.sql" level="INFO" />
	<!-- 自定义某些日志输出到独立的文件 -->
	<!-- 	
	<logger name="com.puhui.decision.aspect.DecisionSystemLogAspect" additivity="false">
		<level value="INFO" />
		<appender-ref ref="aopLogFile" />
	</logger> 
	-->
</configuration>